<style>
.tt_controls_first_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }

.tt_controls_last_name #date, #star, #slash, #minus, #plus, #percent, #decimal, #comma { display: none; }
</style>

<script type="text/javascript">
  var tt_cancel_destination = "/";
  
</script>

<form action="/search_results" method="GET">
  <%= text_field_tag :given_name, params[:given_name], {
    :field_type => 'alpha',
    :helpText => 'First name',
    :ajaxURL => '/person_names/given_names?search_string=',
    :allowFreeText => true } %>

  <%= text_field_tag :family_name, params[:family_name], {
    :field_type => 'alpha',
    :helpText => 'Last name',
    :ajaxURL => '/person_names/family_names?search_string=',
    :allowFreeText => true } %>

  <input type="hidden" name="gender" value="M"></input>

</form>