<form action='/change_password' method= 'POST'>
  <%= password_field(:user, :old_password,
    :helpText => "Old Password",
    :textCase => "lower",
    :field_type => "password") %>

  <%= password_field(:user, :new_password,
    :helpText => "New Password",
    :textCase => "lower",
    :field_type => "password") %>

  <%= password_field(:user, :confirm_password,
    :helpText => "New Password",
    :textCase => "lower",
    :field_type => "password") %>

</form>
