<form action='/change_password?id=<%=params[:id]%>' method= 'POST'>

  <%= password_field(:user, :new_password,
    :helpText => "New Password",
    :textCase => "lower",
    :field_type => "password") %>

  <%= password_field(:user, :confirm_password,
    :helpText => "Confirm New Password",
    :textCase => "lower",
    :field_type => "password") %>

</form>
