<form action="/location/delete" method="post">
  <%= text_field 'location_name', 'clinic_name',
    :helpText => "Workstation Location",
    :ajaxURL => "/location/search?act=delete&search_string="%>
</form>