<form action="/location/delete" method="post">
  <%= text_field 'location_name', 'clinic_name',
    :helpText => "Select Workstation Location to delete",
    :ajaxURL => "/location/search?act=delete&search_string="%>
</form>