<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body style="text-align: center; margin: 20px;" oncontextmenu="return false;">

<table width="100%" style="border: 0px solid #305d97; margin-top: 10px; font-size: 18px;" cellpadding="8"
       cellspacing="0">
    <thead>
        <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                &nbsp;
            </td>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                Today
            </th>
            <th style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                This Month
            </th>
            <th style="border-bottom: 2px solid #305d97; width: 25%;">
                This Year
            </th>
        </tr>
    </thead>
    <tbody>
        <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                TOTAL REGISTERED
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="male_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="male_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="male_year">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" style="border: 0px solid #305d97; margin-top: 10px; font-size: 18px;" cellpadding="8"
       cellspacing="0">
    <thead>
        <tr style="color: #305d97;">
            <th colspan= "4": style="no-border: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                CURRENT PATIENT STATISTICS
            </th>
        </tr>
    </thead>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        VITAL SIGNS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="vitals_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="vitals_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="vitals_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        MEDICAL HISTORY
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="medical_history_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="medical_history_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="medical_history_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        HIV/ART STATUS
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="hiv_art_status_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        GENITAL EXAMINATION
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="genital_exam_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="genital_exam_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="genital_exam_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        CIRCUMSION
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="circumsion_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="circumsion_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="circumsion_year">
                &nbsp;
            </td>
            </tr>
    </tbody>
    <tbody>
            <tr style="color: #305d97;">
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;">
                        APPOINTMENT
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="appointment_today">
                &nbsp;
            </td>
            <td style="border-right: 1px solid #305d97; border-bottom: 2px solid #305d97; width: 25%;" id="appointment_month">
                &nbsp;
            </td>
            <td style="border-bottom: 2px solid #305d97; width: 25%;" id="appointment_year">
                &nbsp;
            </td>
            </tr>
    </tbody>

</table>
</body>
</html>